@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

.nav-a {
  color: #262262;
  margin-left: 20px;
}

.nav-a:hover {
  color: #262262;
}
.nav-a-bold {
  font-weight: 700;
}
.nav-a-light-bold {
  font-weight: 500;
}
